html body {
    width: 1360px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.overflow {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.wh80 {
    width: 80%;
    margin: 0 auto;
}

.wh33 {
    width: 33.33%;
}

.wh50 {
    width: 50%;
}

.padLR10 {
    padding-left: 10px;
    padding-right: 10px;
}

.button-wrapper {
    padding: 7px 0 7px 0;
}

.link-button {
    padding: 7px;
    color: #a3cd8c;
    border-color: #a3cd8c;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
}

.link-button:hover,
.link-button.active {
    border: solid 1px;
    padding: 6px;
}

.badge {
    background: white;
    color: red;
    font-size: 14px;
    border-radius: 8px;
    padding: 5px;
}

.button-wrapper .btn-start-earning {
    margin: 25px;
}

.btn-start-earning {
    margin: 25px auto;
}

.btn-start-earning a {
    background: #a3cd8c;
    text-transform: uppercase;
    font-size: 24px;
    width: 220px;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
}

.btn-start-earning a:visited {
    color: white;
}

.header {
    margin: 0 50px 0 50px;
    padding-top: 20px;
}

.header .link-button {
    color: white;
    border-color: white;
}

.header .logo-wrapper,
.header .text-wrapper {
    float: left;
}

.header .menu-wrapper {
    float: right;
}

.header .text-wrapper,
.header .menu-wrapper {
    margin-top: 15px;
}

.header .logo-wrapper {
    width: 200px;
}

.header .logo-wrapper .logo {
    text-decoration: none;
    text-transform: none;
}

.header .menu-wrapper ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
}

.header .menu-wrapper ul li {
    list-style-type: none;
    display: inline;
}

.header .text {
    font-size: 14px;
    color: white;
    padding: 0 10px;
}

.header .container {
    min-width: 900px;
    margin: 0 auto;
    width: 900px;
    height: 100px;
}

.section {
    padding: 25px 0 25px 0;
}

.section .title {
    color: white;
}

.section .text {
    color: #9da7b6;
}

.section-line {
    height: 1px;
    width: 100%;
    background: #4f647d;
}

.section1 {
    background: url("../img/bg1.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 733px;
}

.section1 .content {
    color: white;
    text-align: center;
    margin-top: 150px;
}

.section1 .content .title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 25px;
}

.section1 .content .text {
    text-align: center;
}

.section-gradient {
    background: #39455f;
    background: -moz-linear-gradient(top, #39455f 0%, #48607b 50%, #3b4359 100%, #3b4359 100%);
    background: -webkit-linear-gradient(top, #39455f 0%,#48607b 50%,#3b4359 100%,#3b4359 100%);
    background: linear-gradient(to bottom, #39455f 0%,#48607b 50%,#3b4359 100%,#3b4359 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39455f', endColorstr='#3b4359',GradientType=0 );
}

.section2 .link-button {
    color: #a3cd8c;
    border-color: #a3cd8c;
}

.section2 .title {
    color: white;
    font-size: 18px;
    padding: 10px 0 10px 0;
}

.section2 .text {
    color: #9da7b6;
    padding: 10px 0 10px 0;
}

.section3 .img-wrapper {
    margin-bottom: 25px;
}

.section3 .img-wrapper,
.section3 .title,
.section3 .text {
    text-align: center;
}

.section6 .table-wrapper table {
    border-collapse: collapse;
}

.section6 .table-wrapper table td {
    border: solid 1px #4d556d;
    padding: 5px 10px 5px 10px;
}

.section6 .table-wrapper a {
    width: 200px;
    display: block;
    text-decoration: none;
}

.section6 .table-wrapper a,
.section6 .table-wrapper a:visited {
    color: #78a3d7;
}

.section6 .table-wrapper .btc {
    color: #61b77a;
}

.section-line.grad-green {
    height: 5px;
    background: #a3cd8c;
    background: -moz-linear-gradient(left, #a3cd8c 0%, #2989d8 100%, #207cca 100%, #7da3d6 100%);
    background: -webkit-linear-gradient(left, #a3cd8c 0%,#2989d8 100%,#207cca 100%,#7da3d6 100%);
    background: linear-gradient(to right, #a3cd8c 0%,#2989d8 100%,#207cca 100%,#7da3d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cd8c', endColorstr='#7da3d6',GradientType=1 );
}

.section.section7 {
    margin: 0;
    padding: 0;
}

.section7 .background {
    background: url("../img/bg2.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    position: relative;
}

.section7 .reg-form-wrapper {
    padding-top: 150px;
    z-index: 10;
}

.section7 .reg-form-wrapper .ribbon {
    background: url("../img/ribbon.png");
    height: 5px;
}

.section7 .reg-form {
    background: white;
    width: 400px;
    margin: 0 auto 0 auto;
}

.section7 .reg-form .container {
    padding: 25px;
}

.section7 .reg-form .title {
    color: #4a4a4a;
    font-size: 25px;
    text-align: center;
}

.section7 .reg-form .fields .control {
    display: inherit;
    margin: 15px 0 15px 0;
    background: #f4f7fb;
    border: none;
    padding: 5px;
    width: 100%;
    color: #9da7b6;
}

.section7 .reg-form .btn-submit {
    background: #7da3d7;
    color: white;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 18px;
}

.section8 {
    margin-top: 60px;
}

.section8 .title {
    width: 150px;
    margin: 0 auto;
    text-align: center;
}

.section8 .btn-start-earning {
    text-align: center;
}
