html body {
    margin: 0 auto;
    font-family: 'Circe';
    min-width: 360px;
}

.button-wrapper {
    padding: 7px 0 7px 0;
}

.button-wrapper .link-button {
    padding-right: 25px;
}

.button-wrapper .link-button:hover,
.button-wrapper .link-button.active {
    padding: 7px 25px 7px 7px;
}

.link-button {
    padding: 8px;
    color: #a3cd8c;
    border-color: #a3cd8c;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
}

.link-button:hover,
.link-button.active {
    padding: 7px;
    border: solid 1px;
}

.link-button:hover {
    filter: brightness(90%);
}

.link-button,
.link-button.active {
    color: #a3cd8c;
}

.badge {
    background: white;
    color: red;
    font-size: 14px;
    border-radius: 8px;
    padding: 5px;
}

.button-wrapper .btn-start-earning {
    margin: 25px;
}

.btn-start-earning {
    margin: 25px auto;
}

.btn-start-earning:hover {
    filter: brightness(90%);
}

.btn-start-earning a {
    background: #a3cd8c;
    text-transform: uppercase;
    font-size: 24px;
    width: 220px;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
}

.btn-start-earning a:visited {
    color: white;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 45px 0 45px 0;
}

.section .title {
    color: white;
    text-transform: uppercase;
}

.section .text {
    color: #9da7b6;
}

@media (min-width: 550px) {
    .section .title {
        font-size: 28px;
    }
}

@media (min-width: 300px) {
    .section .title {
        font-size: 18px; 
    }
}

.section .button-wrapper {
    height: 30px;
    margin: 11px 0 3px 0;
}

.section .button-wrapper a::after {
    content: url("../img/arrow.svg");
    position: absolute;
    padding-left: 7px;
}

.section-line {
    height: 1px;
    width: 100%;
    background: #4f647d;
}

.section-line.grad-green {
    height: 5px;
    background: #a3cd8c;
    background: -moz-linear-gradient(left, #a3cd8c 0%, #2989d8 100%, #207cca 100%, #7da3d6 100%);
    background: -webkit-linear-gradient(left, #a3cd8c 0%,#2989d8 100%,#207cca 100%,#7da3d6 100%);
    background: linear-gradient(to right, #a3cd8c 0%,#2989d8 100%,#207cca 100%,#7da3d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3cd8c', endColorstr='#7da3d6',GradientType=1 );
}

.section1 {
    padding: 0;
    height: 100vh;
    min-height: 733px;
    background: url("../img/bg1.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section1 .header {
    margin: 0 50px 0 50px;
    padding-top: 20px;
}

.section1 .header .link-button {
    color: white;
    border-color: white;
}

.section1 .header .logo-wrapper,
.section1 .header .text-wrapper {
    float: left;
}

@media (min-width: 768px) {
    .section1 .header .menu-wrapper {
        float: right;
    }
}

@media (max-width: 767px) {
    .section1 .header .menu-wrapper {
        float: left;
    }
}

.section1 .header .text-wrapper,
.section1 .header .menu-wrapper {
    margin-top: 15px;
}

.section1 .header .logo-wrapper {
    width: 200px;
}

.section1 .header .logo-wrapper .logo {
    text-decoration: none;
    text-transform: none;
}

.section1 .header .menu-wrapper ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
}

.section1 .header .menu-wrapper ul li {
    list-style-type: none;
    display: inline;
}

.section1 .header .text {
    font-size: 14px;
    color: white;
    padding: 0 10px;
}

.section1 .header .container {
    min-width: 900px;
    margin: 0 auto;
    width: 900px;
    height: 100px;
}

.section1 .content {
    color: white;
    text-align: center;
    margin: 15% 10% auto 10%;
}

@media (min-width: 550px) {
    .section1 .content .title {
        font-size: 32px;
        margin-bottom: 25px;
    }
}

@media (min-width: 400px) {
    .section1 .content .title {
        font-size: 24px;
        margin-bottom: 25px;
    }
}

.section1 .content .text {
    text-align: center;
    color: white;
}

.section1 .content .button-wrapper {
    margin-top: 25px;
}

.section-gradient {
    background: #39455f;
    background: -moz-linear-gradient(top, #39455f 0%, #48607b 50%, #3b4359 100%, #3b4359 100%);
    background: -webkit-linear-gradient(top, #39455f 0%,#48607b 50%,#3b4359 100%,#3b4359 100%);
    background: linear-gradient(to bottom, #39455f 0%,#48607b 50%,#3b4359 100%,#3b4359 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39455f', endColorstr='#3b4359',GradientType=0 );
}

.section2 .link-button {
    color: #a3cd8c;
    border-color: #a3cd8c;
}

.section2 .title {
    color: white;
    padding: 10px 0 10px 0;
}

.section2 .text {
    color: #9da7b6;
    padding: 10px 0 10px 0;
}

.section3 .img-wrapper {
    margin: 10px 0 10px 0;
}

.section3 .img-wrapper,
.section3 .title,
.section3 .text {
    text-align: center;
}

.section3 .title {
    font-size: 20px;
}

.section6 .title-wrapper {
    margin: 10px 0 5px 0;
}

.section6 .table-wrapper table {
    border-collapse: collapse;
}

.section6 .table-wrapper table td {
    border: solid 1px #5a6176;
    padding: 5px 10px 5px 10px;
}

.section6 .table-wrapper a {
    width: 200px;
    display: block;
    text-decoration: none;
}

.section6 .table-wrapper a,
.section6 .table-wrapper a:visited {
    color: #78a3d7;
}

.section6 .table-wrapper .btc {
    color: #61b77a;
}

@media screen and (max-width: 768px) {
    .section6 .table-wrapper table tr {
        border: solid 1px #5a6176;  
    }

    .section6 .table-wrapper table td {
        border: none;
    }

    .section6 .table-wrapper tr {
        width: 100%;
        float: left;
    }

    .section6 .table-wrapper tr td:first-child {
        display: block;
        width: 100%;
    }

    .section6 .table-wrapper tr td:nth-of-type(1n+1) {
        width: 100%;
    }

    .section6 .table-wrapper tr td:nth-of-type(1n+2) {
        width: 50%;       
    }

    .section6 .table-wrapper tr td:nth-of-type(1n+3) {
        width: 50%;       
    }

    .section6 .table-wrapper tr td:before { 
        content: attr(data-th); 
        display: block;
        text-align:center;  
    }
}

.section6 .news-list .news-item {
    margin-bottom: 10px;
}

.section6 .news-list .news-item .title {
    font-size: 18px;
    text-transform: none;
}

.section.section7 {
    margin: 0;
    padding: 0;
}

.section7 .background {
    background: url("../img/bg2.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 520px;
    position: relative;
}

@media (min-width: 550px) {
    .section7 .reg-form-wrapper {
        padding-top: 150px;
    }
}

@media (max-width: 550px) {
    .section7 .background {
        height: auto;
    }

    .section7 .reg-form {
        width: auto !important;
    }
    
    .section7 .reg-form-wrapper .ribbon {
        background: white !important;
    }
}

.section7 .reg-form-wrapper .ribbon {
    background: url("../img/ribbon.png");
    height: 5px;
}

.section7 .reg-form {
    background: white;
    width: 500px;
    margin: 0 auto 0 auto;
}

.section7 .reg-form .container {
    padding: 25px;
}

.section7 .reg-form .title {
    color: #4a4a4a;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.section7 .reg-form .fields {
    margin-top: 35px;
    margin-bottom: 35px;
}

.section7 .reg-form .fields .control {
    display: inherit;
    margin: 0 0 20px 0;
    background: #f4f7fb;
    border: none;
    padding: 10px;
    width: 100%;
    color: #9da7b6;
}

.section7 .reg-form .btn-submit {
    background: #7da3d7;
    color: white;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.section7 .reg-form .btn-submit:hover {
    filter: brightness(90%);
}

@media (min-width: 550px) {
    .section8 {
        margin-top: 60px;
    }
}

@media (max-width: 549px) {
    .section8 {
        margin-top: 0;
    }
}

.section8 .title {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

.section8 .btn-start-earning {
    text-align: center;
}

.section.footer {
    /*padding-bottom: 40px;*/
}

.section.footer .links a {
    padding: 0 10 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.section.footer .links a,
.section.footer .links a:visited {
    color: white;
}

@media (max-width: 549px) {
    .section.footer .links {
        float: none;
    }

    .section.footer .links a {
        padding: 5px 10px 5px 10px;
        clear: both;
        display: inherit;
    }

    .section.footer .links.copyright {
        margin-top: 10px;
    }
}

